* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.container-fluid {
	height: 100%;
}

.nav-item {
    padding: 1em;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #fff;
}

.jumbotron {
	min-height: 100%;
    background: url('/images/party.jpg');
    background-size: cover;
    background-position: center;
    color: #DBDBDB;
    padding: 1.5em;
    border-radius: 0 !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about {
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-transparent {
    border: 2px solid #fff !important;
    color: #fff !important;
}

.btn-transparent:hover {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

.register {
    min-height: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer {
    height: 10%;
}