._5qpd{display:inline-block;max-width:100%;vertical-align:middle}._2xbx{border:1px solid #dddfe2;border-radius:4px;margin:2px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}._53td:hover{text-decoration:none}._53td:hover ._2xbx{border-color:#90949c}._bb6{margin-top:-1px;vertical-align:middle}
._299a{margin-top:6px}

#bootloader_0teQh{height:42px;}.bootloader_0teQh{display:block!important;}